* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.flex-container {
    width: 100vw;
    height: 100vh;
    display: flex;

    /* align-items: center; */
    /* justify-content: center; */
}


.flex-container > div {
    width: 20vw;
    height: 20vh;
    text-align: center;
    background-color: darkkhaki;
    margin: 30px;
}


.flex-container > .item3 {
    width: 20vw;
    height: 20vh;
    text-align: center;
    background-color: palegoldenrod;
    /* position: relative; */
    /* position: absolute; */
    /* top: 500px; */
    /* top: 100px; */
    /* bottom: 100px; */
    /* right: 100px; */
    /* left: 100px; */
    /* position: fixed; */
}


.container {
    display: flex;
    flex: row;
    width: 100vw;
    height: 500vh;
    align-items: flex-end;
}


.container > div {
    width: 400px;
    margin: 50px;
    position: sticky;
    bottom: 0;
}


.container > .item1 {
    height: 490vh;
    background-color: cornflowerblue;
}


.container > .item2 {
    height: 230vh;
    background-color: chocolate;
}


.container > .item3 {
    height: 350vh;
    background-color: steelblue;
}


img {
    display: block;
    margin: auto;
    z-index: -1;
    position: relative;
    top: 200px;
}